.container {
  display: flex;
  flex-direction: column;
  align-items: center;
    height: 100vh;
  text-align: center;
  margin: 0 auto; /* Center horizontally */ 
}

.login-title {
  margin-top: 150px;
  font-family: 'VarelaRound-Regular', sans-serif;
  color: #000000;
  font-weight: bolder;
}

.form-group {
  margin-top: 20px;
}

.form-input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  background-color: #e4eaf1; /* Grey background */
}

.login-button {
  padding: 10px 20px;
  background: linear-gradient(to right, #8a2be2, #4a148c); /* Purple gradient */
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: small;
  margin-top: 10px;
  height: 45px;
}

.no-account {
  margin-top: 20px;
  font-family: 'ValeraRound-Regular', sans-serif;
  font-weight: bold;
  color:#000000;
}

.sign-up {
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(to right, #e69b19, #db1428); /* Orange gradient */
  border-radius: 20px;
  font-family: sans-serif;
  font-size: small;
  color: white;
  border: none;
  cursor: pointer;
  width: 300px; 
  font-weight: bold;  
  height: 35px;
}


.username-icon
{
  padding-left: 20px;
  background: url("../img/personIcon.png") no-repeat left;
  background-size: 20px;
  background-color: #e4eaf1;
  border: none;
}

.password-icon
{
  padding-left: 20px;
  background: url("../img/passwordIcon.png") no-repeat left;
  background-size: 20px;
  background-color: #e4eaf1;
  border: none;
}